.navbar{
    background-color: rgb(0,57,115);
    height: 100px;
    /* background-color: transparent;*/
} 

.navbar-nav {
    margin-left: 100px;
    margin-top: 50px;
   
}


.navbar-nav li a{
    text-transform: uppercase;
    color: #fff;
    font-family: oswald;
    font-size: small;
    font-weight: 500;

}
@media(max-width:400px){
    .navbar {
        width: 100%;
    }
  
    .collapse .navbar-collapse{
        width: 100%;
    }

}
@media (max-width:500px) {
    .navbar img{
        width: 90px;
        height: 20px;

    }
    
}